html {
	background-color: #608699;
	line-height: 1.7;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.show-large {
	display: none;
}



/* Main Column Typography */

.section {
	padding: 0;
}


@media screen and (min-width: 767px) {

	.section {
		padding-left: 40px;
		padding-right: 40px;
	}

}