.content-area {
	background-color: #FFF;
	padding-bottom: 40px;
	padding-top: 20px;
}

@media screen and (min-width: 767px) {
	.content-area {
		padding-top: 40px;
	}
}

@media screen and (min-width: 1023px) {
	.main-area {
		padding-right: 40px;
	}
}